#spring.application.name=security

#this is the header so every thing after it will be from spring
spring:
  #same as here
  datasource:
    #spring.datasource.url
    url: jdbc:postgresql://postgres:5432/e-commerce
    #spring.datasource.username=postgres
    username: postgres
    #spring.datasource.password=postgres
    password: postgres
    #this the driver class
    driver-class: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/changelog.sql
  jpa:
#    hibernate:
      #spring.jpa.hibernate.ddl-auto
#      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    #this for  dialect that help hibernate to translate into understandable sql lang
    database-perform: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  logging:
    level:
      root: INFO
      com.yourpackage: DEBUG  # Your package
      org.springframework.test: DEBUG  # Spring test framework
    pattern:
      console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"


cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}

JWT:
  secret_key: ${JWT_SECRET_KEY}
api:
  prefix: "/api/v1"
tap:
  secret_key: ${TAP_SECRET_KEY}
  base_url: https://api.tap.company/v2

stripe:
  secret:
    key: ${STRIPE_SECRET_KEY}
  public:
      key: ${STRIPE_PUBLIC_KEY}
  webhook:
    key: ${STRIPE_WEBHOOK_KEY}
#  base_url: https://api.tap.company/v2

payment:
  redirect:
    url: http://localhost:4200/payment/result
  webhook:
    url: http://localhost:8080/api/v1/payment/webhook
  default:
    currency: USD


#for test
#app:
 # api_key: ${MY_API_KEY}
  #database_url: ${BD_URL:jdbc:postgresql://postgres:5432/postgres}
# i can save this apikey in my system by
# using terminal   export MY_API_KEY="1234"
#or i can do it from the code editor
#ok as you can see in db i use DB_URL which is env var but if there was not one in my system or editor
#then as an alternative it will take the url i give to it which i can put after ":"



#so if i move the executable file of the app in another place i need to give it the env var when i try to run the file
#so if you try to run file from terminal
# -- is the way to pass env var in terminal
#java -jar target/ecommerce/version.jar  --MY_API_KEY="123456" --BD_URL="adsljlask
#
#
#
#